
.myID{
    width:70%;

    display:flex;
    justify-content: space-around;
}

.idForm input[type=text]{
    height: 100%;
    width:70%;
    border: none;
    border-bottom: dashed 0.4rem var(--highlightTwo);
    background: none;
    padding:10px;

    font-family: 'Sniglet', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--textOne);
}

.idForm input[type=text]::placeholder{
    font-family: 'Sniglet', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.idForm input[type=text]:focus{
    outline: none;
}

#idSubmit{
    width: 61px;
    height: 51px;
    background: var(--highlightTwo);
    border-radius: 14px;
    border:none;
}

#idSubmit:focus{
    outline: none;
}


.landingContent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:45%;

    position: relative;
    top: 15vh; /*can't use % etc. as root is vh, continue using it here */
    margin: 0 auto;

}

.title{
    display: flex;
    justify-content: center;
}

.landingContent .title p{
    font-size: 7rem;
    color: var(--highlightTwo);
    margin-bottom: 40px;
}

.landingContent .title .logo{
    height: 9rem;
    margin-top: 5px;
    margin-right: 30px;
    transform: rotate(-28.98deg);
}

.landingContent .introText{
    color: var(--textOne);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}



/* static design elements */

.circleIcon{
    position: fixed; /*will move and transform as scroll with JS, as movement is not just scrolling */
    left: 50%;
    margin-left: -515.5px;
    top: -20vh;
    background-color: var(--highlightOne);
    
    border-radius: 50%;
    width: 1031px;
    height: 1031px;

}


.toNextPage{
    position: absolute;
    bottom: 10px;
    left: 50vw;
    margin-left: -27px;
    margin: 0 auto;
}

.toNextPage img{
    width: 27px;

}


/*reponsive*/

@media only screen and (max-width:900px){
    :root{
        font-size: 10px !important;
    }
    .landingContent{
        width:80%;
    }
    .circleIcon{
        margin-left: -400px;

        width: 800px;
        height: 800px;
    }

}
