
/* @import url(''); */

/* credit inspiration https://www.figma.com/file/FX8PHuC1FjqND1wqrfDYqi/Neumorphism-by-OTAKOYI.COM?node-id=3155%3A28 */


:root{
    --textOne: #363238;
    --highlightOne: #29a2f3;
    --bgOne: #E6E9EF;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;;

    box-sizing: border-box;

    background-color: var(--bgOne);

}





*{
    margin:0;
    padding:0;
}

body{
    margin:20px;
}


/*!!!Page Setup*/

.content{
    display:grid;
    grid-template-areas: 
        'landingPage landingPage landingPage'
        'movies movies toWatch'
        'movies movies toWatch'
        'footer footer footer';
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
    gap:70px;
}


@media only screen and (max-width:900px){
    :root{
        font-size: 12px;
    }
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
            "landingPage"
            "movies"
            "toWatch"
            "footer";
   }
   .content div{
        min-width: 0;
   }

}

.myID{
    grid-area: myID;
}

.landing{
    grid-area: landingPage;
    box-shadow:  inset 18px 18px 30px #D1D9E6, inset -18px -18px 30px #FFFFFF;
    border-radius: 20px;
}

.movies{
    grid-area: movies;
    box-shadow: inset 18px 18px 30px #D1D9E6, inset -18px -18px 30px #FFFFFF;
    border-radius: 20px;
    padding:50px;

}


.toWatch{
    grid-area: toWatch;
    box-shadow: inset 18px 18px 30px #D1D9E6, inset -18px -18px 30px #FFFFFF;
    border-radius: 20px;
    padding:50px;

}

.footer{
    grid-area: footer;
}

/*others*/

input[type="text"]::placeholder {
    color: var(--textOne);
    opacity: 80%;
    font-family: 'Quicksand', serif;
  }
  
.submitButtons{
    background-color: var(--bgOne);
    border: none;
    font-family: 'Major Mono Display', monospace;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 0.9rem;
    box-shadow: 0px 0px 5px rgb(199, 198, 198);
    margin-top:20px;
}

.submitButtons:focus{
    outline:none;
}

/*landing page*/
.landing{
    display:flex;
    justify-content: center;
    align-items: center;
}

.myID{
    width:50%;
    height:10%;
}
.idForm{
    width:100%;
    height:100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#idInput{
    border:none;
    width:100%;
    height:100%;
    background-color: var(--bgOne);
    font-size: 2rem;
    color: var(--textOne);

    margin-right: 100px;
    border-bottom: 1px dotted var(--highlightOne);

}


#idInput:focus{
    outline: none;
}

/*!!!to watch list!!!*/

.toWatch{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newEntry{
    width:80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.newEntry input[type=text]{

    height:50px;
    width:100%;
    border:none;

    margin-right:50px;
    background-color: var(--bgOne);
    border-bottom: 2px dotted var(--highlightOne);
}

.newEntry input:focus{
    outline: none;
}


#myWatchList{
    max-height: 500px;
    overflow:scroll;

    width:80%;
    list-style: none;
    margin-top:auto;
    padding-bottom: 10px;
}

#myWatchList li:nth-child(odd) {
    background: #e6e5e5;
}

.watchItem{
    display: flex;
    justify-content: space-between;
}

.watchItem p, .watchItem span{

    cursor: pointer;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.watchItem:hover{
    background-color: #ddd;
}


.watchItem.watched p{
    text-decoration: line-through;
}

.watchItem span, .watchItem p{
    padding:17px;
}


.checkButton {
    margin-left:0;
}
  
.checkButton:hover {
    background-color: var(--highlightOne);
    color: white;
}



/*movie search*/


.movieList{
    display:flex;
    flex:1;
    align-items: center;
    overflow: auto;
    height: 500px;
}


.theMovie{
    padding: 5px 15px;
    min-width: 25rem !important;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.theMovie .movieImage{
    height: 25rem;
    max-width:100%;

    display: relative;

    object-fit: cover;
}

.description{
    min-width:50%;
    display:flex;
    align-items: center;
    padding-top:5px;
    justify-content: space-around;
}

.searchMovie{
    margin:0 auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.searchMovie input[type=text]{
    width:97%;
    height:2rem;
    border:none;
    margin: 0 auto;
    display:block;

    background-color: var(--bgOne);

    padding-top: 15px;
    margin-right:100px;
    border-bottom: 2px dotted var(--highlightOne);
}

.searchMovie input:focus{
    outline: none;
}
